body {
  background-color: #00ccff;
}

#digital-clock {
 background-color: #66ffff;
 height: 35%;
 margin: auto;
 padding-top: 50px;
 padding-bottom: 50px;
 font-family: Georgia, serif;
 font-size: 120px;
 text-align: center;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.big {
  font-size: 64px; 
  font-family: Georgia, serif; 
  }
